<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.page.style.css" />
    <title>Book Store</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="name">
                <h1>Book Store</h1>
                <p>Find All Your Books</p>
            </div>
        </div>
    </nav>
    <main>
        <div class="banner">

            <div class="banner-text">
                <h1>Book Store</h1>
                <h3>Find All Your Books Here</h3>
            </div>
            <div class="banner-buttons">
                <a href="#description"><button type="button">How It Works</button></a>
            </div>

        </div>
        
        <div class="description" id="description">
            <div class="heading">
                <h2>Get To Know Book Store</h2>
            </div>
            <div class="description-text">
                <p>
                    Book Store is created to give you easy in finding books online. All you need to do is to search 
                    for the book you would like to read and let us look up the internet for your book.<br>
                    However, the response we give you contains alot of books relating to your search and therefore 
                    you need to pick one which is exactly the one you are looking for. We help you with this by providing 
                    a summary of the book and if this corresponds with your desired book, then it is the one you needed.<br/>
                    Searching for books has never been easier!
                </p>
                <a href="./book.query.result.html"><button>Try It Now</button></a>
            </div>
        </div>

    </main>
    <footer>
        <div class="footer-container">
            <div class="organisation-links">
                <h3>Book Store</h3>
                <div class="links">
                    <a href="./index.html">Create Account</a>
                    <a href="">Find Support</a>
                    <a href="">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>